body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(39, 59, 73, 100);
}
a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
    height: auto;
}

.site {
    max-width: 1440px;
    margin: 0 auto;
    font-weight: 300;
}

/* Header Styles */

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    color: rgba(39,59,73,100);
    font-size: 16px;
}

header a:hover {
    color: #EA5550;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    list-style: none;
}

.nav-list li {
    padding: 15px 20px;
    white-space: nowrap;
}

.nav-list > li > a {
    text-transform: uppercase;
}

.current-menu-item a {
    color: #EA5550;
    padding-top: 28px;
    border-top: 3px solid #EA5550;
}

.menu-item-has-children {
    position: relative;
}

.menu-item-has-children::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 4px;
    width: 7px;
    height: 5px;
    background-image: url("../img/icons/down-triangle.svg");
}

.sub-menu {
    display: none;
    position: absolute;
    left: 4px;
    margin-top: 15px;
    padding: 0;
    background-color: #FFFFFF;
    list-style: none;
}

.sub-menu li {
    padding: 10px 15px;
}

.nav-list > li:hover .sub-menu {
    display: block;
}

.fa-shopping-cart,
.fa-search {
    color: rgba(39, 59, 73, 100);
}

.site-search-icon {
    position: relative;
}

.site-search-icon:hover > .site-search-input {
    display: block;
} 

.site-search-input {
    width: 150px;
    height: 30px;
    display: none;
    position: absolute;
    left: -10px;
    margin-top: 10px;
    padding-left: 2px;
    border-radius: 2px;
    border: 2px solid #EEEEEE;
}

/* Hero Styles */

.hero {
    background-image: url("../img/hero-bg.png");
    padding: 55px 0 150px 0;
}

.hero__text {
    max-width: 45vw;
    margin: 0 auto;
    padding-bottom: 75px;
    text-align: center;
}

.hero__title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 48px;
}

.hero__sub-title {
    font-size: 24px;
}

.hero__link {
    padding-bottom: 0;
    border-bottom: 1px dotted #EA5550;
}

.hero__link:hover {
    color: #EA5550;
}

.featured-recipe {
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    color: white;
}

.featured-recipe__image {
    width: 50%;
}


.featured-recipe__content {
    background-color: #6FC4BE;
    max-width: 50%;
    padding-top: 100px;
    position: relative;
}

.pinterest-link {
    position: absolute;
    left: -50px;
    bottom: 25px;
    font-size: 32px;
}

.pinterest-link:hover {
    opacity: .9;
}

.featured-recipe__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 65px;
    text-align: center;
}

.featured-recipe__title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin: 0;
    margin-bottom: 0.15em;
}

.featured-recipe__sub-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

.featured-recipe__chili {
    transform: rotate(75deg);
    width: 25px;
    margin-top: 1rem;
}

.featured-recipe__copy {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 20px;
    line-height: 27px;
}

.featured-recipe__button {
    padding: 12px 50px;
    background-color: #EA5550;
    border-radius: 3px;
    border: none;
    border-bottom: 2px solid #C72F4C;
    border-right: 2px solid #C72F4C;
}

.featured-recipe__button:hover {
    background-color: #C72F4C;
}

.button-link {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 18px;
}

.featured-recipe__social-media {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    margin-top: 70px;
}

.featured__likes {
    margin-right: 20px;
}

.featured__likes,
.featured__comments {
    display: flex;
    align-items: center;
}

.featured__likes:hover,
.featured__comments:hover {
    opacity: .9;
}

.featured__likes .fa-heart,
.featured__comments .fa-comment-alt {
    font-size: 25px;
}

.featured__likes p,
.featured__comments p {
    font-weight: 600;
}

.featured__likes > i,
.featured__likes > p,
.featured__comments > i,
.featured__comments > p {
    padding: 0 3px;
}

/* Search Styles */

.search-filters {
    display: flex;
    max-width: 500px;
    padding: 0 100px;
    margin: -30px auto;
    margin-bottom: 45px;
}

.search-recipes__icon {
    position: absolute;
    color: #EA5550;
    font-size: 21px;
    padding-top: 1em;
    padding-left: 0.75em;
}

.search-recipes__input {
    width: 443px;
    height: 56px;
    padding-left: 2.5em;
    font-size: 18px;
    color: #C9CED2;
    border: 1px solid #AEB5BB;
    border-radius: 2px;
}

.search-recipes__input::placeholder {
    color: #C9CED2;
}

.recipes-filter__text {
    color: #EA5550;
    font-size: 18px;
    margin-right: 2em;
    font-family: 'Source Sans Pro', sans-serif;
}

.recipes-filter__button {
    display: flex;
    width: 150px;
    height: 60px;
    border: 1px solid #AEB5BB;
    border-radius: 2px;
    margin-left: -2px;
    padding-left: 2.5em;
    font-weight: 600;
    position: relative;
}

.recipes-filter:hover > .filters {
    display: block;
}

.filters {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #EEEEEE;
    width: 150px;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-left: -2px;
}

.filters li {
    padding: 12px 28px;
}

.filters li:hover {
    background-color: #4e5961;
    color: white;
}

/* Recipe Grid Styles */

.recipe-grid {
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe-single {
    width: calc((100% - 60px) / 3);
    margin-top: 40px;
    border: solid 2px #EEE;
    border-radius: 6px;
}

.recipe__copy {
    color: #687680;
    font-size: 16px;
    padding: 0 25px;
}

.recipe__title {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 0.5em;
}

.recipe__description {
    max-width: 75%;
}

.recipe__social-media {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.recipe__likes {
    margin-right: 1.5em;
}

.recipe__likes,
.recipe__comments {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.recipe__likes > a,
.recipe__likes > p,
.recipe__comments > a,
.recipe__comments > p {
  padding: 0 2px;
}

.recipe__likes > a > .fa-heart {
    color: #EA5550;
    font-size: 1.5em;
    margin-right: 0.25em;
}

.recipe__likes > a > .fa-heart:hover {
    color: #4e5961;
}

.recipe__comments > a > .fa-comment-alt {
    color: #6FC4BE;
    font-size: 1.5em;
    margin-right: 0.25em;
}

.recipe__comments > a >.fa-comment-alt:hover {
    color: #4e5961;
}

.recipe__load-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 80px 0;
}

.load-more-button {
    color:#EA5550;
    padding: 0.5em 1em;
    border: 1px solid #EA5550;
    border-radius: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.load-more-button:hover {
    color: white;
    background-color: #EA5550;
}

/* Instagram Grid Styles */

.instagram-grid {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
}

.instagram-grid img {
    max-width: 100%;
    height: auto;
}

.grid-box {
    width: calc(100% / 5);
}

.grid__image {
    transition-property: scale();
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.grid__image:hover {
    transform: scale(1.01);
}

.instagram-grid__callout {
    width: calc((100% / 5) * 2);
    background-color: #6FC4BE;
}

.grid__callout__title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 0;
    padding-top: 0.5em;
    /* position: relative; */
}

.callout__separator {
    width: 55px;
    height: 10px;
}

/* .grid__callout__title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 10px;
    background: white url(../img/icons/separator.svg) center;
} */

.grid__callout__text {
    font-size: 24px;
    margin-top: 5px;
    padding: 0 75px;
}

.callout__link {
    font-weight: 400;
}

.callout__link:hover {
    color: #30958C;
}

.instagram-grid__icon {
    background-color: #EA5550;
    padding-top: 0.5em;
    font-size: 120px;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.instagram-grid__icon:hover {
    background-color: #C72F4C;
}

.instagram-grid__empty {
    background-color: #DAE510;
}

/* Newsletter Sign Up Styles */

.newsletter-sign-up {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 4em 0;
}

.sign-up__text {
    font-family: 'Playfair Display', serif;
    margin-right: 1em;
}

.newsletter-sign-up input {
    width: 280px;
    height: 46px;
    border: 1px solid #D7DADD;
    border-radius: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-left: 1em;
}

.newsletter-sign-up input::placeholder {
    color: #C9CED2;
}

.newsletter-sign-up input + input {
    margin-left: 1.25em;
}

.sign-up__button {
    background-color: #EA5550;
    width: 127px;
    height: 46px;
    margin-left: 1.25em;
    border-radius: 2px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.sign-up__button:hover {
    background-color: #C72F4C;
}

.sign-up__link {
    padding: 10px;
}

/* Footer Styles */

.footer {
    background-image: url("../img/hero-bg.png");
    padding: 50px 100px 25px 100px;
}

.footer__columns {
    display: flex;
    align-items: flex-start;
}

.footer__col-1,
.footer__col-2,
.footer__col-3,
.footer__col-4 {
    width: 25%;
}

.footer__col-1 {
    font-size: 14px;
    line-height: 23px;
}

.footer__col-1-text {
    max-width: 90%;
}

.footer__col-2 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.footer__col-2 a {
    width: fit-content;
    padding: 5px 0;
    padding-left: 40px;
    color: #EA5550;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}

.footer__col-2 a:hover {
    color: unset;
}

.column-header p {
    margin: 0;
    margin-bottom: 1.5em;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.footer__telephone,
.footer__email {
    color: rgba(39, 59, 73, 100);
    display: block;
}

.footer__telephone:hover {
    color: #EA5550;
}

.footer__email {
    color: #EA5550;
    margin-top: 1em;
    font-weight: 400;
}

.footer__email:hover {
    color: rgba(39, 59, 73, 100);
}

.footer__social-links {
    margin-top: 2em;
}

.footer__social-links a {
    color: #EA5550;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border: 1px solid #EA5550;
    border-radius: 100%;
    padding: 4px;
}

.footer__social-links a:hover {
    color: rgba(39, 59, 73, 100);
    border: 1px solid rgba(39, 59, 73, 100);
}

.footer__social-links a + a {
    margin-left: 8px;
}

.footer__social-links .fa-pinterest-p {
    font-size: 16px;
}

.footer__col-4 a:hover {
    color: #EA5550;
}

.footer__blog-title {
    color: #EA5550;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.footer__blog-copy {
    margin: 0 0 1.5em 0;
    line-height: 20px;
}

.footer-utility {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5em;
}

.footer-utility a {
    font-weight: 400;
}

.footer-utility a:hover {
    color: #EA5550;
}

.footer-utility a + a {
    margin-left: 2em;
}

.copyright {
    font-size: 14px;
    font-weight: 400;
}